#header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
    z-index: 400;
}
#header-border{
    position: absolute;
    bottom: -5px;
    width: 100%;
}
.sign-out{
    cursor: url("../img/cursor-pointer.jpg") 0 10, pointer;
}
.header-left{
    padding-left: 28%;
}
.header-right{
    padding-left: 28%;
}